<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            <a class="social-link social-link-fb" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="social-link social-link-fb" href="mailto:{{ site.email }}" target="_blank" rel="noopener">
                <i class="far fa-envelope"></i>
            </a>
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {% endif %}
    </div>
</nav>
